@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Boldonse&family=Bungee&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&display=swap');

@import "tailwindcss";
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  @apply text-gray-500;
  margin: 0;
  padding: 0;
}